@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PingAR-LT";
  src: url("./assets/fonts/ping/PingAR+LT-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "PingAR-LT";
  src: url("./assets/fonts/ping/PingAR+LT-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "PingAR-LT";
  src: url("./assets/fonts/ping/PingAR+LT-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "PingAR-LT";
  src: url("./assets/fonts/ping/PingAR+LT-Medium.otf");
  font-weight: 500;
}

/* Add more @font-face rules for other weights as needed */
* {
  --background-gradient: linear-gradient(to left, #6100bf, #f54374);
}

body{
    /* font-family: 'PingAR-LT', sans-serif; */
    font-weight: medium;
}

.bg-gradient-custom {
  @apply bg-gradient-to-l;
  /* background-image: var(--background-gradient) !important; */
  background: rgb(245,67,116);
  background: linear-gradient(163deg, rgba(245,67,116,1) 38%, rgba(97,0,191,0.9360556722689075) 100%);
}

.section-title::after{
  content: '';
  position: absolute;
  bottom: -7px;
  right: 0;
  width: 45%;
  height: 3px;
  border-radius: 3px;
  background-image: var(--background-gradient);
}

.swiper-button-prev:after, .swiper-rtl ~ .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl ~ .swiper-button-prev:after{
  color: #444 !important;
  font-size: 20px;
}
.swiper-button-next, .swiper-button-prev{
  top: 70% !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 35px !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 35px !important;
}
.swiper img{
  margin: auto;
}

.swiper-button-next, .swiper-button-prev {
  margin-top: calc(-22px - (var(--swiper-navigation-size)/ 2)) !important;
}

@media (min-width: 768px){
  .md\:w-\[35\%\] {
    width: 35% !important;
}
.md\:px-20 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
}